.app {
  background-color: #dadbd3;
  display: grid;
  place-items: center;
  height: 100vh;
}

.app_body {
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}

.app__loading {
  display: table;
  text-align: center;
  height: 100%;
  width: 350px;
}

.app__loading > div {
  display: table-cell;
  vertical-align: middle;
}

.app__loading > div > .app__loading_circular {
  margin-top: 100px !important;
}

.app__loading > div > .app__loading_linear .MuiLinearProgress-root {
  margin-top: 100px !important;
}

.MuiCircularProgress-colorPrimary {
  color: gray !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #15c39a !important;
}

.app-no-bg {
  z-index: auto;
}

@media screen and (max-width: 600px) {
  .app__body {
    display: inline;
  }
  .app__loading {
    width: 200px;
  }
}

@media screen and (max-width: 1440px) {
  .app__body {
    max-height: 100vh;
    margin-top: 0;
  }
}

@media screen and (min-width: 1441px) {
  .app::after {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 127px;
    content: "";
    background-color: #009688;
  }
}
